<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
 <servlet>
    <servlet-name>console</servlet-name>
    <servlet-class>org.jminix.console.servlet.MiniConsoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>console</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
